<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AgileIt | Plan smarter, sprint faster{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/70d9507ffc.js" crossorigin="anonymous"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
<header>
    <div class="branding">
        <h1>AgileIt</h1>
    </div>
    <nav aria-label="Main navigation">
        <a href="{% url 'homepage' %}">Home</a>
        <a href="#">Board</a>
        <a href="#">Backlog</a>
    </nav>
</header>


    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Copyright 2025 AgileIt. All rights reserved.</p>
    </footer>
    {% block scripts %}{% endblock %}

</body>
</html>
